

    .layout{
        display: grid;
        grid-gap:10px;
    grid-template-areas:  
    "header header header"
     "main main aside"
     "footer footer footer";


    grid-template-rows: auto;
    }
    .grid{
        background: #7159c1;
    }
    
    .grid-header{
        grid-area: header;
        border: solid 10px black;
        
    }
    .grid-main{
        grid-area: main;
        margin-left: 1px;
        border: solid 10px black;
        text-align: justify;
        max-height: fit-content;
        
    }
    .grid-aside{
        grid-area:aside;
        margin-right: 1px;
        border: solid 10px black;
        
    }
    .grid-footer{
        grid-area: footer;
        border: solid 10px black;
        
    
    
    }
    h1{
        text-align: center;
     color: white;
     font-size: 150px;
    }

h2{
   text-align: center; 
   color:white
}
p{
    padding: 10px;
    color: white;
    font-size: 20px;
}
h3{
   padding: 5px;


}

.fotosaopaulo {
padding-left: 150px;
}
.fotoprincipal{
    padding-left: 18px;
}
.fotolistadebairros{
    padding-left: 500px;
   
}
.fotocidadeademar{
    padding-left: 400px;
}

