div{
    border: solid 10px  #8A56E6;
    font-family: 'ChomskyRegular';
    
    
  
  }
  img{
width: 1350px;
height: 650px;
border-left:solid 10px  #8A56E6;
border-right: solid 10px  #8A56E6;
    
  }
  a:hover{
    background-color: #8A56E6;
    display:grid;
  }
 
p{
  text-align: justify;
}
.covid{
  text-align: center;

}
.guilhermefoto{
border:solid 10px  #8A56E6;

}
.guilherme{
  text-align: center;
  font-size: 40px;
  background-color: black;
  color: white;  
  border:solid 10px  #8A56E6


}
.paragrafo{
  color:black;
    border:solid 10px   #8A56E6;
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;

}
h1{
  text-align: center;
  font-size: 120px;
  grid-template-columns: 15px;
  color:#8A56E6;
  border:#8A56E6 ;
  
}
.saopaulo{

  border: #8A56E6 ;
}
main{
  padding-left: 15px;
    padding-right: 15px;
    border:solid 10px   #8A56E6;
}
h2{
  font-size: 50px;

}
.imagem4{
  border:solid 10px white;
  width: 1350px;
  height: 650px;
 
}